import(sf, spdep, spData, stats, tcltk)
importFrom(quantreg, rq, predict.rq)
importFrom(rgl, bg3d, par3d, plot3d, close3d, rgl.postscript, rotationMatrix)
importFrom(KernSmooth, bkde)
importFrom(robustbase, covMcd)
importFrom(sp, SpatialPolygons, Polygons, Polygon)
importFrom(grDevices, colors, dev.list, dev.new, dev.set, dev.off, heat.colors, pdf)
importFrom(graphics, abline, axis, barplot, boxplot, layout, legend, lines, locator, par, plot, points, polygon, rect, segments, text, title)
export(
angleplotmap,
barmap,
barnbmap,
boxplotmap,
carte,
choix.bubble,
choix.couleur,
choixvarfunc,
clustermap,
dbledensitymap,
dblehistomap,
densitymap,
driftmap,
genpca,
gini,
ginimap,
graphique,
histnbmap,
histobarmap,
histomap,
makeneighborsw,
misolationmap,
moranplotmap,
mvariocloudmap,
neighbourmap,
nonormmoran,
normw,
pcamap,
plot3dmap,
polyboxplotmap,
rotation,
scattermap,
selectgraph,
selectmap,
selectstat,
slider1,
variocloudmap
)


